mixin slider()
    +b('section').slider
        +e.container
            +e.content
                +e.slider
                    +e.list
                        +e.slider__item
                            +e.wrap__user
                                +e.user__name
                                +e.user__quest
                                +e.user__photo
                                    img(src="", alt="")
                                +e.user__img 
                                    img(src="/images/user-img.png", alt="img")
                                +e.link__mobile
                                    +e.link__text читать ответ эксперта
                                    +e.link__arrow
                            +e.line
                            +e.wrap__expert
                                +e.expert__name
                                +e.expert__title
                                +e.expert__answer
                                +e.expert__img 
                                    img(src="/images/expert-img.png", alt="img")
                    +e.list
                        +e.slider__item
                            +e.wrap__user
                                +e.user__name
                                +e.user__quest
                                +e.user__photo
                                    img(src="", alt="")
                                +e.user__img 
                                    img(src="/images/user-img.png", alt="img")
                                +e.link__mobile
                                    +e.link__text читать ответ эксперта
                                    +e.link__arrow
                            +e.line
                            +e.wrap__expert
                                +e.expert__name
                                +e.expert__title
                                +e.expert__answer
                                +e.expert__img 
                                    img(src="/images/expert-img.png", alt="img")
            +e.wrap__button
                +e.wrap__button-prev
                    +e.arrow
                +e.wrap__button-next
                    +e.arrow__next
                    
