mixin slider()
    +b('section').slider
        +e.container
            +e.content
                +e.slider
                    +e.list
                        +e.slider__item
                            +e.wrap__item
                                +e.user__name Дарья:
                                +e.user__quest Добрый день! Какое окрашивание с естественным эффектом лучше подойдёт для длинных и волнистых от природы волос?
                                +e.user__photo
                                    img(src="", alt="")
                            +e.wrap__item
                                +e.expert__name Алексей Горбатюк:
                                +e.expert__title Дорогая Дарья, здравствуйте!
                                +e.expert__answer На длинных волосах эффектно смотрятся сложные рельефные техники с плавной растяжкой цвета. Если выбрать оттенок всего на 1–2 тона светлее исходного, балаяж, шатуш, бейбилайтс и даже мелирование крупными прядями дадут очень естественные блики. Окрашивание тон в тон на безаммиачной кислотной краске тоже подойдет: оно просто сделает ваш цвет волос ярче.
                    +e.list
                        +e.slider__item
                            +e.wrap__item
                                +e.user__name Дарья:
                                +e.user__quest Добрый день! Какое окрашивание с естественным эффектом лучше подойдёт для длинных и волнистых от природы волос?
                                +e.user__photo
                                    img(src="", alt="")
                            +e.wrap__item
                                +e.expert__name Алексей Горбатюк:
                                +e.expert__title Дорогая Дарья, здравствуйте!
                                +e.expert__answer На длинных волосах эффектно смотрятся сложные рельефные техники с плавной растяжкой цвета. Если выбрать оттенок всего на 1–2 тона светлее исходного, балаяж, шатуш, бейбилайтс и даже мелирование крупными прядями дадут очень естественные блики. Окрашивание тон в тон на безаммиачной кислотной краске тоже подойдет: оно просто сделает ваш цвет волос ярче.
            +e.wrap__button
                +e.wrap__button-prev
                    +e.arrow
                +e.wrap__button-next
                    +e.arrow__next
                    
